Repository stacklet/terraform-aws-onboarding: changes, and which Atlantis projects are due for each by the changed paths.
All: .dummy, access, org-read

.dummy:
  dir: .dummy
  workflow: dev
  terraform_version: v1.10.1
  apply_requirements:
  - approved
  - mergeable

access:
  dir: access
  workflow: dev
  terraform_version: v1.10.1
  apply_requirements:
  - approved
  - mergeable

org-read:
  dir: org-read
  workflow: dev
  terraform_version: v1.10.1
  apply_requirements:
  - approved
  - mergeable

fix atlantis apply target
  atlantis.yaml
Due: none

fix: output descriptions (#5)
  access/README.md
  access/outputs.tf
  atlantis.yaml
  atlantis/dev/access-backend.tf
  atlantis/dev/org-read-backend.tf
  org-read/README.md
  org-read/outputs.tf
Due: access, org-read

fix: use same-region event forwarding
  access/README.md
  access/events_forwarding.tf
  access/locals.tf
  access/variables.tf
  atlantis/dev/access-settings.auto.tfvars
Due: access

chore: run tflint in ci
  .github/workflows/ci.yml
  .tool-versions
  access/README.md
  access/provder.tf
  access/variables.tf
  atlantis.yaml
  atlantis/dev/access-backend.tf
  org-read/README.md
  org-read/provder.tf
  org-read/variables.tf
Due: access, org-read

address review feedback
  access/README.md
  access/locals.tf
  access/variables.tf
  atlantis/dev/access-settings.auto.tfvars
Due: access

grant forwarding role permission to all regions
  access/events_forwarding.tf
Due: access

chore: run tflint in ci (#7)
  .github/workflows/ci.yml
  .tool-versions
  access/README.md
  access/provder.tf
  access/variables.tf
  atlantis.yaml
  atlantis/dev/access-backend.tf
  org-read/README.md
  org-read/provder.tf
  org-read/variables.tf
Due: access, org-read

parameterize target event bus name
  access/README.md
  access/locals.tf
  access/variables.tf
Due: access

chore: spelling fixes discovered by codespell
  access/README.md
  access/variables.tf
  org-read/README.md
  org-read/variables.tf
Due: access, org-read

fix: use same-region event bus targets (#8)
  access/README.md
  access/events_forwarding.tf
  access/locals.tf
  access/variables.tf
  atlantis/dev/access-settings.auto.tfvars
Due: access

chore: spelling fixes discovered by codespell (#9)
  access/README.md
  access/variables.tf
  org-read/README.md
  org-read/variables.tf
Due: access, org-read

chore: a few cleanups
  .github/workflows/ci.yml
  .tool-versions
  access/README.md
  access/outputs.tf
  access/provider.tf
  access/variables.tf
  atlantis.yaml
  atlantis/dev/access/backend.tf
  atlantis/dev/access/settings.auto.tfvars
  atlantis/dev/org-read/backend.tf
  atlantis/dev/org-read/settings.auto.tfvars
  justfile
  org-read/README.md
  org-read/outputs.tf
  org-read/provider.tf
  org-read/variables.tf
Due: access, org-read

chore: a few cleanups (#10)
  .github/workflows/ci.yml
  .tool-versions
  access/README.md
  access/outputs.tf
  access/provider.tf
  access/variables.tf
  atlantis.yaml
  atlantis/dev/access/backend.tf
  atlantis/dev/access/settings.auto.tfvars
  atlantis/dev/org-read/backend.tf
  atlantis/dev/org-read/settings.auto.tfvars
  justfile
  org-read/README.md
  org-read/outputs.tf
  org-read/provider.tf
  org-read/variables.tf
Due: access, org-read

chore: rename prefix var to resource_prefix
  access/README.md
  access/discover.tf
  access/events_forwarding.tf
  access/execution.tf
  access/variables.tf
  atlantis/dev/access/settings.auto.tfvars
  atlantis/dev/org-read/settings.auto.tfvars
  org-read/README.md
  org-read/role.tf
  org-read/variables.tf
Due: access, org-read

bump provider version
  access/.terraform.lock.hcl
  access/README.md
  access/provider.tf
  org-read/.terraform.lock.hcl
  org-read/README.md
  org-read/provider.tf
Due: access, org-read

chore: rename prefix var to resource_prefix (#11)
  access/.terraform.lock.hcl
  access/README.md
  access/discover.tf
  access/events_forwarding.tf
  access/execution.tf
  access/provider.tf
  access/variables.tf
  atlantis/dev/access/settings.auto.tfvars
  atlantis/dev/org-read/settings.auto.tfvars
  org-read/.terraform.lock.hcl
  org-read/README.md
  org-read/provider.tf
  org-read/role.tf
  org-read/variables.tf
Due: access, org-read

feat: create access-related resources for all requested regions
  access/README.md
  access/data.tf
  access/discover.tf
  access/events_forwarding.tf
  access/execution.tf
  access/locals.tf
  access/outputs.tf
  access/variables.tf
  atlantis.yaml
  atlantis/dev/access/settings.auto.tfvars
Due: access

feat: create access-related resources for all requested regions (#12)
  access/README.md
  access/data.tf
  access/discover.tf
  access/events_forwarding.tf
  access/execution.tf
  access/locals.tf
  access/outputs.tf
  access/variables.tf
  atlantis.yaml
  atlantis/dev/access/settings.auto.tfvars
Due: access

chore: update atlantis settings to use qa as target
  atlantis/dev/access/settings.auto.tfvars
  atlantis/dev/org-read/settings.auto.tfvars
Due: none

chore: update atlantis settings to use qa as target (#13)
  atlantis/dev/access/settings.auto.tfvars
  atlantis/dev/org-read/settings.auto.tfvars
Due: none

chore: combine atlantis projects in a single one with modules
  atlantis.yaml
  atlantis/dev/main.tf
Due: none

chore: combine atlantis projects in a single one with modules (#14)
  atlantis.yaml
  atlantis/dev/main.tf
Due: none

chore: remove old atlantis projects
  atlantis.yaml
  atlantis/dev/access/backend.tf
  atlantis/dev/access/settings.auto.tfvars
  atlantis/dev/main.tf
  atlantis/dev/org-read/backend.tf
  atlantis/dev/org-read/settings.auto.tfvars
  justfile
Due: none

chore: remove old atlantis projects (#15)
  atlantis.yaml
  atlantis/dev/access/backend.tf
  atlantis/dev/access/settings.auto.tfvars
  atlantis/dev/main.tf
  atlantis/dev/org-read/backend.tf
  atlantis/dev/org-read/settings.auto.tfvars
  justfile
Due: none

chore: remove atlantis setup
  atlantis.yaml
  atlantis/dev/main.tf
Due: none

chore: remove atlantis setup (#16)
  atlantis.yaml
  atlantis/dev/main.tf
Due: none

Path conditions:
  .dummy: any of: .dummy/*.tf*, .dummy/.terraform.lock.hcl
  access: any of: access/*.tf*, access/.terraform.lock.hcl
  org-read: any of: org-read/*.tf*, org-read/.terraform.lock.hcl
